[submodule "FormatWidgets"]
	path = FormatWidgets
	url = https://github.com/horsicq/FormatWidgets.git
[submodule "Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats.git
[submodule "FormatDialogs"]
	path = FormatDialogs
	url = https://github.com/horsicq/FormatDialogs.git
[submodule "Controls"]
	path = Controls
	url = https://github.com/horsicq/Controls.git
[submodule "QHexView"]
	path = QHexView
	url = https://github.com/horsicq/QHexView.git
[submodule "XMemoryMapWidget"]
	path = XMemoryMapWidget
	url = https://github.com/horsicq/XMemoryMapWidget.git
[submodule "XEntropyWidget"]
	path = XEntropyWidget
	url = https://github.com/horsicq/XEntropyWidget.git
[submodule "XQwt"]
	path = XQwt
	url = https://github.com/horsicq/XQwt.git
[submodule "XOptions"]
	path = XOptions
	url = https://github.com/horsicq/XOptions.git
[submodule "StaticScan"]
	path = StaticScan
	url = https://github.com/horsicq/StaticScan.git
[submodule "SpecAbstract"]
	path = SpecAbstract
	url = https://github.com/horsicq/SpecAbstract.git
